/* TODO: inserite il CSS necessario per completare il MHW! */
.uno{
    margin-top:20px;
}

.choice-grid{
    display: flex;
    flex-wrap: wrap;
}

.choice-grid div{
    width: calc(32.5% - 20px);
    margin-bottom: 20px;
    margin-left: 3px;
    padding: 10px;
    border: 1px solid #dcdcdc;
    background-color: #f4f4f4;
}

.choice-grid img{
    display: flex;
    width: 100%; 
}

.choice-grid img.checkbox{
    width: 20px;
    margin-top:5px;
}

.hidden {
    display: none;
  }

#risultato{
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 20px;
}


#titolo{
    margin: 0px;
    padding: 0px;
    width:100%;
}

#testo{
    margin-top: 18px;
    margin-bottom:18px;
    padding: 0px;
}

.button{
    background-color: #cecece;
    width:100%;
    margin:0px;
    padding: 0px;
    height: 50px;
}

@media (max-width: 700px) {
    body {
        width: 95%;
    }
    span{
        visibility: hidden;
    }
}

@media (max-width: 500px) {
    .choice-grid div{
        width: calc(49% - 20px);
    }
        
}
