body{
    margin: 0;
}

header{
    display: flex;
    background-image: url("sfondo.jpg");
    height: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

h1{
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: normal;
    color: white;
    width: 700px;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.profilo{
    border: solid 1px white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top:-50px;
}

.autore{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    color:rgb(51, 51, 51);
}

.aggiornamento{
    font-style: italic;
    border-bottom: 2px solid #e6e6e6;
    padding-bottom: 10px;
    margin-bottom: 60px;
    font-weight: normal;
}

.container{
    display: flex;
    justify-content: center;
    
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    font-weight: bold;

}

.paragrafo{
    width: 66.67%;
}

.numero{
    color: rgba(0, 0, 0, 0.25);
}

.titolo{
    margin-left: 40px;
    color: rgb(51, 51, 51);
}

.sottotitolo{
    font-family: 'Source Sans Pro', sans-serif;
    color: #42b4d6;
    font-size: 18px;
}

.testo{
    line-height: 32px;
    color: rgb(51, 51, 51);
    font-weight: normal;
    margin-top: 20px;
}

.chiusura{
    font-weight: bold;
    margin-top: 20px;
}

.locandina{
    width: 100%;
    margin-top: 20px;
}

.spaziatura{
     margin-top: 120px;
}

footer{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 120px;
     height: 50px;
     font-size: 18px;
     background-color: black;
     color: white;
}

@media (max-width: 700px) {
    .paragrafo {
        width: 90%;
    }
}