body{
    background-color: darkred;
    background-image: url("/upload_media/photos/wallpaper.png");
    background-size: cover;
    background-attachment: fixed;
}

#app{
    color:lightgray;
}

#app img{
    border-radius: 20px 20px 20px 20px;
}

#app img.logo{
    width: 79.95px;
    border-radius: 0;
}
#app img.logo2{
    width: 259px;
    border-radius: 0;
}
#app img.logo3{
    width: 177.8px;
    border-radius: 0;
}
#app img.logo4{
    width: 139.5px;
    border-radius: 0;
}
#app img.logo5{
    width: 85.55px;
    border-radius: 0;
}
#app img.logo6{
    width: 134.55px;
    border-radius: 0;
}

.mouseover{
    cursor: pointer;
    margin:5px;
    display: inline-block;
    padding: 20px;
    max-width: 200px;
    vertical-align: top;
    border-radius: 20px 20px 20px 20px;
    color:white;
    text-align: center;
    background-color: #3490dc;
    border-color: #3490dc;
}
.mouseover a{
    color:white;
}

.comicid{
    display:none;
}

.comics,.button,.collections,.contents,.collection{
    margin:5px;
    display: inline-block;
    padding: 20px;
    max-width: 200px;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px 20px 20px 20px;
    color:white;
    text-align: center;
}

.comics img,.collections img,.contents img,.mouseover img,.collection img{
    max-width: 160px;
    border:inherit;
    border-radius: 20px 20px 20px 20px;
}

.contents p{
    margin-bottom: 0px;
}

.row{
    justify-content: center;
}

.pagination{
    justify-content: center;
}

.pagination li{
    background-color: rgb(255,230,0);
    width:25px;
    border-radius: 20px 20px 20px 20px;
    margin:4px;
    color:darkred;
    text-decoration: none;
}

.pagination a{
    color:darkred;
}

.col-md-12{
    color:lightgrey;
}

#btn-search,#btn-detail{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #3490dc;
    border-color: #3490dc;
}
#btn-search{
    margin-top: -8px;
}
#btn-delete{
    margin-top: 2px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #3490dc;
    background-color: red;
}

#titleStartsWith{
    width: 90%;
    height: calc(2.19rem + 2px);
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#center{
    text-align: center;
}

.none{
    display: none;
}

.button{
    cursor: pointer;
}

.home{
    display:flex;
}

.home img{
    width:200px;
}
