
html{
  background-image: url("http://localhost/homework/images/sfondologin.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
}


body{
    margin:0px;
    font-family: 'Acme', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: center;
    background-position: center;
    /*background-size: 200px;*/
}
main {
    display: flex;
  }

  #titolo{
    text-align: center;
  }
  
  p , a {
    color: black;
    margin: 1.3em;
  }
  
  label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  input{
    background-color: darkblue;
    color: white;
    border: 2px white solid;
    margin-left: 10.5em;
    border-radius: 10px 10px 10px 10px;
  }

  .reg_user{
    margin-left: 10.5em;
    border-radius: 10px 10px 10px 10px;
  }

  #titolo{
      font-weight: bold;
      font-size: 50px;
  }