html{
    background-image: url("http://localhost/homework/images/sfondo.png");
    background-position: center;
    background-size: 500px;
    color: white;
    font-family: 'Acme', sans-serif;
}

body{
    margin: 0;
}

header{
    background-image: url("http://localhost/homework/images/titolo.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid white;
    margin-left: 120px;
    display: flex;
    height: 120px;
    font-size: 30px;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

#menu{
    border-right: 2px solid white;
    font-size: 27px;
    margin-top: -122px;
    position: fixed;
    text-align: center;
    background-color: darkred;
    width: 120px;
    height: 100%;
    max-width: 120px;   
}

.centra{
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 120px;
    word-break: break-all;
}

p{
    margin:0px;
    border-top: 20px solid rgba(199, 16, 16, 0);
    border-bottom: 20px solid     rgba(199, 16, 16, 0);
}

a{
    color: inherit;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.74)
}

.raccolta, .results, .contenuto{
    margin-left: 150px;
    margin-top: 20px;
}

li{
    margin:5px;
    display: inline-block;
    padding: 20px;
    max-width: 200px;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    border-radius: 20px 20px 20px 20px;
}

li img{
    max-width: 200px;
    border:inherit;
    border-radius: 20px 20px 20px 20px;
    background-color:  rgba(0, 0, 0, 0.8);
}

#testo2{
    background-color: darkred;
    color: white;
    border: 2px white solid;
    width: 250px;
    font-size:40px;
    cursor: default;    
}

.raccolta div{
    text-align: center;
    margin-top: 2px;
    border-radius: 20px 20px 20px 20px;
}

li2{
    color: white;
    margin:5px;
    display: inline-block;
    padding: 20px;
    max-width: 200px;
    vertical-align: top;
    background-color: rgba(0, 0, 0, 0.8);
    border: inherit;
    border-radius: 20px 20px 20px 20px;
}

.bottone,.ritorna{
    font-size: 10px;
    padding: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100px;
    background-color: red;
    border-radius: 20px 20px 20px 20px;
    margin:7px;
    border: inherit;
    color: white;
}

#rimuovi{
    background-color: lightgray;
    color:black;
    text-align: center;
    margin-top: 2px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}

form{
    margin-left:0px;
}

.raccolta div{
    background-color: lightgray;
    color:black;
    text-align: center;
    margin-top: 2px;
    width: 80px;
    border-radius: 20px 20px 20px 20px;
    cursor: pointer;
}

testo{
    font-size: 10px;
}

input{
    margin-top: 2px;
    border-radius: 20px 20px 20px 20px;

}

ul{
    margin: 0 auto;
    padding: 0;
    display: block;
}



  
