html{
    background-image: url("http://localhost/homework/images/sfondo.png");
    background-position: center;
    background-size: 500px;
    color: white;
    font-family: 'Acme', sans-serif;
}

body{
    margin: 0;
}

header{
    background-image: url("http://localhost/homework/images/titolo.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid white;
    margin-left: 120px;
    display: flex;
    height: 120px;
    font-size: 30px;
}

.overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

#menu{
    border-right: 2px solid white;
    font-size: 27px;
    margin-top: -122px;
    position: fixed;
    text-align: center;
    background-color: darkred;
    width: 120px;
    height: 100%;
    max-width: 120px;   
}

.centra{
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    min-height: 120px;
    word-break: break-all;
}

p{
    margin:0px;
    border-top: 20px solid rgba(199, 16, 16, 0);
    border-bottom: 20px solid     rgba(199, 16, 16, 0);
}

form{
    margin-left: 170px;
    margin-top: 20px;
}

a{
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.74)
}
.results, .collezione, .raccolta{
  position: relative;
  color: white;
  margin-left: 170px;
  margin-top: 20px;
}
img{
    max-width: 200px;
    border-radius: 20px 20px 20px 20px;
    border:inherit;
}
ul{
  margin: 0 auto;
  padding: 0;
  display: block;
}
li{
  margin:5px;
  display: inline-block;
  padding: 20px;
  max-width: 200px;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  border-radius: 20px 20px 20px 20px;
}

testo{
    font-size: 10px;
}

input.barra{
    width: 500px;
    border: 2px white solid;
    color: white;
    background-color: darkred;    
}

input{
    height: 25px;
    border-radius: 20px 20px 20px 20px;
}
#submit{
    border: 2px white solid;
    color: white;
    background-color: darkred;
}

.bottone{
    margin-left:170px;
    margin-top:20px;
    cursor: pointer;
}

.toremove{
    margin-left: 170px;
    margin-top:20px;
    width:100%;
}

.hyde{
    display: none;
}

